{% extends 'core/base.html' %} {% block content %}
<h1 class="text-lg mb-5 font-semibold">The about page</h1>
<p> Fund Idea is a web application that allows users to share their ideas in any related field so that potential investors can view the ideas and can connect with the originators in case they would like to talk further about potential investments. The application is developed as a part of a software development project by Dikshyanta Uprety using HTML, Django and Bootstrap CSS.</p>
{% endblock %}
